spring:
  application:
    name: product
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
        spring.json.type.mapping: >
          productCreated: com.ecommerce.product.infrastructure.messaging.event.ProductCreatedEvent,
          productUpdated: com.ecommerce.product.infrastructure.messaging.event.ProductUpdatedEvent,
          productDeleted: com.ecommerce.product.infrastructure.messaging.event.ProductDeletedEvent

app:
  kafka:
    topics:
      product-created: product-created-topic
      product-updated: product-updated-topic
      product-deleted: product-deleted-topic

server:
  port: ${SERVER_PORT:8080}